{% extends 'base/employee/base.html' %}

{% load static %}

{% block body %}


    <div class="container-contact100">

		<div class="wrap-contact100" style="border: thin double #00B074;">
			<div class="contact100-form-title" style="background-image: url({% static 'img/bg-01.jpg' %});">
				<span class="contact100-form-title-1">
					Find A Job
				</span>

				<span class="contact100-form-title-2">
					Find a perfect job for you!
				</span>
			</div>

			<form action="{% url 'search-jobs' %}" method="post" class="contact100-form validate-form">
                {% csrf_token %}
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Search by Title:</span>
                    <input type="text" name="search_keyword" class="input100" maxlength="100" id="id_search_keyword">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Phone is required">
					<span class="label-input100">Search by course:</span>
					<select name="search_course" id="id_search_course" class="input100">

                        <option value="">---------------</option>
                        {% for course in courses %}
                            <option value="{{ course.id }}">{{ course.course_name }}</option>
                        {% endfor %}

                    </select>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn" style="text-align: center;">
					<button type="submit" class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>

            {% for job in jobs %}


                                        <div class="job-item p-4 mb-4" style="margin: 7px;">
                                    <div class="row g-4">
                                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid border rounded"
                                                 src="{{ job.employer.logo.url }}" alt=""
                                                 style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h5 class="mb-3">{{ job.job_title }}</h5>
                                                <span class="text-truncate me-3"><i
                                                        class="fa fa-map-marker-alt text-primary me-2"></i>{{ job.employer.place.place_name }}</span>
                                                <span class="text-truncate me-3"><i
                                                        class="far fa-clock text-primary me-2"></i>Full Time</span>
                                                <span class="text-truncate me-0"><i
                                                        class="far fa-money text-primary me-2"></i>{{ job.salary }}</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-primary"
                                                   href="{% url 'job-info' %}?jobid={{ job.id }}">View</a>
                                            </div>
                                            <small class="text-truncate"><i
                                                    class="far fa-calendar-alt text-primary me-2"></i>Post Date: {{ job.post_date }}</small>
                                        </div>
                                    </div>
                                </div>

                                    {% endfor %}
		</div>
	</div>

    <div style="height: 200px;">

    </div>

{% endblock %}
