{% extends 'base/employee/base.html' %}

{% load static %}

{% block body %}

    <br><br>

    <div style="text-align: center; width: max-content; margin: auto; border: thin double #00B074; border-radius: 20px;padding: 5% 15%">


        <h3 style="text-align: center; color: #000"><b>{{ jobs.job_title }} </b></h3>

        <dl style="text-align: left">

            <dt><b>Post Date : {{ jobs.post_date }}</b></dt>

            {% if is_applied %}

                <dt><b>Application Status: </b>{{ status }}</dt>

            {% endif %}

            <dt><b>Description : </b>
                <dd>
                    {{ jobs.job_description }}
                </dd>
            </dt>

            <dt><b>Monthly Salary : </b>{{ jobs.salary }}</dt>

            <dt><b>Qualifications : </b>{{ jobs.course_name }}</dt>

            <dt><b>Preferred Experience : </b>{{ jobs.experience }}</dt>

            <dt><b>Vacancies : </b>{{ jobs.vacancies }}</dt>

            <dt><b>About the organization : </b>
                <dd>
                    <img src="{{ jobs.employer.logo.url }}" style="width: 40px; height: 40px; border-radius:500%;"> <b style="font-size: larger">{{ jobs.employer.company_name }}</b>

                    <dt><b>About : </b>
                        <dd>
                            {{ jobs.employer.about_company }}
                        </dd>
                    </dt>

                </dd>
            </dt>

        </dl>

        {% if is_authenticated %}
            {% if is_applied %}
                <a class="btn btn-primary" style=" " disabled>Applied</a>
            {% else %}
                <a href="{% url 'apply-job' %}?jobid={{ jobs.id }}" class="btn btn-primary" style="">Apply</a>
            {% endif %}
        {% else %}
            <a href="{% url 'user-login' %}" class="btn btn-primary" style="">Login to Apply</a>
        {% endif %}

    </div>

    <!--div class="container">
        <div class="row">
            <div class="col-md-11" style="border: thin double #00B074; border-radius: 20px; top: 60px; padding-top: 20px">
                <h3 style="text-align: center; color: #000"><b>{{ jobs.job_title }} </b></h3>
                <div class="col-sm-1">
                    {% if is_authenticated %}
                        {% if is_applied %}
                            <a class="btn btn-primary" style=" margin-left:63%;margin-bottom:20px; width:150px;">Applied</a>
                        {% else %}
                            <a href="{% url 'apply-job' %}?jobid={{ jobs.id }}" class="btn btn-primary" style="margin-left:63%;margin-bottom:20px; width:150px;">Apply</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'user-login' %}" class="btn btn-primary" style="margin-left:63%;margin-bottom:20px; width:150px;">Login to Apply</a>
                    {% endif %}
                </div>
                <p class="row" style="color: #444; margin-left: 100px; margin-right: 100px;">
                    {{ jobs.post_date }}
                </p>
                <p class="row" style="color: #444; margin-left: 100px; margin-right: 100px;">
                    {{ jobs.job_description }}
                </p>
                <p class="row" style="color: #444; margin-left: 100px; margin-right: 100px;">
                    Monthly Salary: {{ jobs.salary }}
                </p>
                <p class="row" style="color: #444; margin-left: 100px; margin-right: 100px;">
                    Preferred Course: {{ jobs.course_name }}
                </p>
                <p class="row" style="color: #444; margin-left: 100px; margin-right: 100px;">
                    Preferred Experience: {{ jobs.experience }}
                </p>
                <p class="row" style="color: #444; margin-left: 100px; margin-right: 100px;">
                    Available Vacancies: {{ jobs.vacancies }}
                </p>
                {% if is_applied %}
                    <p class="row" style="color: #444; margin-left: 100px; margin-right: 100px;">
                        Application Status: {{ status }}
                    </p>
                {% endif %}


            </div>
        </div>
    </div>-->



{% endblock %}
