{% extends 'base/admin/base.html' %}

{% load static %}

{% block body %}
    <!-- Carousel Start -->
    <div class="container-fluid p-0">
            <div class="owl-carousel header-carousel position-relative">
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="{% static 'img/carousel-1.jpg' %}" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-3 text-white animated slideInDown mb-4">Find The Perfect Job That You Deserved</h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
                                    <div class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block animated slideInLeft" style="color: #FFFFFF; width: fit-content" data-bs-toggle="dropdown">REPORTS</a>
                                        <div class="dropdown-menu rounded-0 m-0">
                                            <a href="{% url 'employer-report' %}" class="dropdown-item">Employer-Jobs</a>
                                            <a href="{% url 'vacancy-employee-report' %}" class="dropdown-item">Vacancies-Employees</a>
                                            <a href="{% url 'course-employee-report' %}" class="dropdown-item">Courses-Employee</a>
                                            <a href="{% url 'experience-employee-report' %}" class="dropdown-item">Experience-Employee</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="{% static 'img/carousel-2.jpg' %}" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-3 text-white animated slideInDown mb-4">Find The Best Startup Job That Fit You</h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
                                    <div class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block animated slideInLeft" style="color: #FFFFFF; width: fit-content" data-bs-toggle="dropdown">REPORTS</a>
                                        <div class="dropdown-menu rounded-0 m-0">
                                            <a href="{% url 'employer-report' %}" class="dropdown-item">Employer-Jobs</a>
                                            <a href="{% url 'vacancy-employee-report' %}" class="dropdown-item">Vacancies-Employees</a>
                                            <a href="{% url 'course-employee-report' %}" class="dropdown-item">Courses-Employee</a>
                                            <a href="{% url 'experience-employee-report' %}" class="dropdown-item">Experience-Employee</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Carousel End -->
{% endblock %}