{% extends 'base/employer/base.html' %}

{% load static %}

{% block body %}
<!--form action="{% url 'new-job' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <script type="text/javascript" src="{% static 'scripts/jquery-3.3.1.min.js' %}"></script>
    <div class="container" style="width:65%; margin-left:14% ;box-sizing:border-box; margin-bottom:2%; padding:30px 40px 30px 120px; border: thin double #00B074; border-radius: 20px; margin-top:3%;">
        {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        <div class="row" style="margin-left: -173%;margin-top: 2%;margin-bottom: -5%;">

        </div>
        <h2 style="text-align: center;margin-top: 6%;font-family:'Times New Roman', Times, serif;">CREATE NEW JOB</h2>

        <br>


        <input type="hidden" value="{{ employer.id }}" name="employer" id="id_employer">
        {{ form.post_date }}

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label for="id_job_title">Job Title:</label>
            </div>
            <div class="col-md-6">
               <!--<input type="text" name="first_name" class="form-control" maxlength="100" required id="id_first_name">-->
               <!-- {{ form.job_title }}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label for="id_job_description">Description:</label>
            </div>
            <div class="col-md-6">
                <!--<input type="text" name="last_name" class="form-control" maxlength="100" required id="id_last_name">-->
                <!--{{ form.job_description }}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label for="id_salary">Monthly Salary:</label>
            </div>
            <div class="col-md-6">
                {{ form.salary }}
            </div>
        </div>

         <br>

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label for="id_course_name">Preferred Course:</label>
            </div>
            <div class="col-md-6">
                <!--<input type="number" name="contact" class="form-control" min="-9223372036854775808" max="9223372036854775807" required id="id_contact">-->
               <!-- {{ form.course_name }}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label for="id_experience">Experience:</label>
            </div>
            <div class="col-md-6">
                <!--<input type="number" name="experience" class="form-control" required id="id_experience">-->
               <!-- {{ form.experience }}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label for="id_vacancies">Vacancies:</label>
            </div>
            <div class="col-md-6">
                <!--<input type="number" name="experience" class="form-control" required id="id_experience">-->
               <!-- {{ form.vacancies }}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label for="id_search_tags">Search tags:</label>
            </div>
            <div class="col-md-6">
                <!--<input type="text" name="search_tags" class="form-control" maxlength="400" required id="id_search_tags">-->
                <!--{{ form.search_tags }}
            </div>
        </div>

        <br>

        <div class="row">
            <input type="submit" name="btnsubmit" value="Create" class="btn btn-primary" style="width:150px;margin-left:63%">
        </div>

        <br>
    </div>
</form>-->


    <div class="container-contact100">

		<div class="wrap-contact100" style="border: thin double #00B074;">
			<div class="contact100-form-title" style="background-image: url({% static 'img/bg-01.jpg' %});">
				<span class="contact100-form-title-1">
					New Job
				</span>

				<span class="contact100-form-title-2">
					Give an opportunity to others!
				</span>
			</div>

			<form action="{% url 'new-job' %}" method="post" enctype="multipart/form-data" class="contact100-form validate-form">
                {% csrf_token %}
                <input type="hidden" value="{{ user.id }}" name="user" id="id_user">
                <input type="hidden" value="{{ employer.id }}" name="employer" id="id_employer">
                {{ form.post_date }}
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Job Title:</span>
                    {{ form.job_title }}
					<span class="focus-input100"></span>
				</div>


                <div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Description:</span>
                    {{ form.job_description }}
					<span class="focus-input100"></span>
				</div>


                <div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Monthly Salary:</span>
                    {{ form.salary }}
					<span class="focus-input100"></span>
				</div>

                <div class="wrap-input100 validate-input" data-validate="Phone is required">
					<span class="label-input100">Preferred Course:</span>
					{{ form.course_name }}
                    <span class="focus-input100"></span>
				</div>

                <div class="wrap-input100 validate-input" data-validate="Phone is required">
					<span class="label-input100">Experience:</span>
					{{ form.experience }}
                    <span class="focus-input100"></span>
				</div>

                <div class="wrap-input100 validate-input" data-validate="Phone is required">
					<span class="label-input100">Vacancies:</span>
					{{ form.vacancies }}
                    <span class="focus-input100"></span>
				</div>

                <div class="wrap-input100 validate-input" data-validate="Phone is required">
					<span class="label-input100">Search tags:</span>
					{{ form.search_tags }}
                    <span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn" style="text-align: center;">
					<button type="submit" class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}











