{% extends 'base/employer/base.html' %}

{% load static %}

{% block body %}
<form action="{% url 'new-job' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <script type="text/javascript" src="{% static 'scripts/jquery-3.3.1.min.js' %}"></script>
    <div class="container" style="width:65%; margin-left:14% ;box-sizing:border-box; margin-bottom:2%; padding:30px 40px 30px 120px; border: thin double #00B074; border-radius: 20px; margin-top:3%;">
        {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        <div class="row" style="margin-left: -173%;margin-top: 2%;margin-bottom: -5%;">

        </div>
        <h2 style="text-align: center;margin-top: 6%;font-family:'Times New Roman', Times, serif;">CREATE NEW JOB</h2>

        <br>


        <input type="hidden" value="{{ employer.id }}" name="employer" id="id_employer">
        {{ form.post_date }}

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label for="id_job_title">Job Title:</label>
            </div>
            <div class="col-md-6">
               <!--<input type="text" name="first_name" class="form-control" maxlength="100" required id="id_first_name">-->
                {{ form.job_title }}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label for="id_job_description">Description:</label>
            </div>
            <div class="col-md-6">
                <!--<input type="text" name="last_name" class="form-control" maxlength="100" required id="id_last_name">-->
                {{ form.job_description }}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label for="id_salary">Monthly Salary:</label>
            </div>
            <div class="col-md-6">
                {{ form.salary }}
            </div>
        </div>

         <br>

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label for="id_course_name">Preferred Course:</label>
            </div>
            <div class="col-md-6">
                <!--<input type="number" name="contact" class="form-control" min="-9223372036854775808" max="9223372036854775807" required id="id_contact">-->
                {{ form.course_name }}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label for="id_experience">Experience:</label>
            </div>
            <div class="col-md-6">
                <!--<input type="number" name="experience" class="form-control" required id="id_experience">-->
                {{ form.experience }}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label for="id_vacancies">Vacancies:</label>
            </div>
            <div class="col-md-6">
                <!--<input type="number" name="experience" class="form-control" required id="id_experience">-->
                {{ form.vacancies }}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label for="id_search_tags">Search tags:</label>
            </div>
            <div class="col-md-6">
                <!--<input type="text" name="search_tags" class="form-control" maxlength="400" required id="id_search_tags">-->
                {{ form.search_tags }}
            </div>
        </div>

        <br>

        <div class="row">
            <input type="submit" name="btnsubmit" value="Create" class="btn btn-primary" style="width:150px;margin-left:63%">
        </div>

        <br>
    </div>
</form>

{% endblock %}











