{% extends 'base/base.html' %}

{% load static %}

{% block body %}
<form action="{% url 'create-user' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <script type="text/javascript" src="{% static 'scripts/jquery-3.3.1.min.js' %}"></script>
    <div class="container" style="width:65%; margin-left:14% ;box-sizing:border-box; margin-bottom:2%; padding:30px 40px 30px 120px; border: thin double #00B074; border-radius: 20px; margin-top:3%;">
        {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        <div class="row" style="margin-left: -173%;margin-top: 2%;margin-bottom: -5%;">

        </div>
        <h2 style="text-align: center;margin-top: 6%;font-family:'Times New Roman', Times, serif;">CREATE USER</h2>

        <br>

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label for="id_username">Username:</label>
            </div>
            <div class="col-md-6">
                <!--<input type="text" name="username" maxlength="50" required id="id_username" class="form-control">-->
                {{ form.username }}
            </div>
        </div>

         <br>

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label>Password:</label>
            </div>
            <div class="col-md-6">
                <!--<input type="password" name="password" maxlength="200" required id="id_password" class="form-control">-->
                {{ form.password1 }}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3" style="text-align:right">
                <label>Confirm Password:</label>
            </div>
            <div class="col-md-6">
                <!--<input type="password" name="password" maxlength="200" required id="id_password" class="form-control">-->
                {{ form.password2 }}
                <input type="checkbox" name="{{ checkbox_name }}" id="{{ checkbox_id }}" checked hidden>
            </div>
        </div>

        <br>

        <div class="row">
            <input type="submit" name="btnsubmit" value="Create" class="btn btn-primary" style="width: 150px;margin-left:63%">
        </div>

        <br>
    </div>
</form>

<script>

    function makeContent(data) {
        states = data.substr(0, data.length - 1)
        //alert(states)
        states = data.split(';')
        content = "<option value='' selected>---------</option>\n"
        for (state in states) {
            //console.log(states[state])
            data = states[state].split(',')
            if (typeof data[1] === 'undefined') {
                //console.log("Exit")
                break
            }
            content += "<option value='" + data[0] + "'>" + data[1] + "</option>\n"
            //console.log(data[0])
            //console.log(data[1])
            //alert(content)
        }
        return content
    }


	function getState()
	{
		var val=document.getElementById('id_country').value;
		//alert(val);
		$.ajax({
			type: "POST",
			url: "/get-state",
			data: {
			    id:val,
			    csrfmiddlewaretoken: '{{ csrf_token }}'
			},

			success: function(data){

                content = makeContent(data)
				$("#id_state").html(content);
			}
		})
	}


    function getDistrict()
	{
        //alert("GetDistrict")
		var val=document.getElementById('id_state').value;
		//alert(val);
		$.ajax({
			type: "POST",
			url: "/get-district",
			data: {
			    id:val,
			    csrfmiddlewaretoken: '{{ csrf_token }}'
			},

			success: function(data){

                content = makeContent(data)
				$("#id_district").html(content);
			}
		})
	}


    function getPlace()
	{
        //alert("GetPLace")
		var val=document.getElementById('id_district').value;
		//alert(val);
		$.ajax({
			type: "POST",
			url: "/get-place",
			data: {
			    id:val,
			    csrfmiddlewaretoken: '{{ csrf_token }}'
			},

			success: function(data){

                content = makeContent(data)
				$("#id_location").html(content);
			}
		})
	}

    function getCourse()
	{
        alert("GetCourse")
		var val=document.getElementById('id_course_type').value;
		//alert(val);
		$.ajax({
			type: "POST",
			url: "/get-course",
			data: {
			    id:val,
			    csrfmiddlewaretoken: '{{ csrf_token }}'
			},

			success: function(data){

                content = makeContent(data)
				$("#id_course").html(content);
			}
		})
	}
	</script>

{% endblock %}











