{% extends 'base/admin/base.html' %}

{% load static %}

{% block body %}
<center>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-11" style="border-radius: 20px; border: thin double #00B074;">
            <br><br>
                <h3 style="text-align: center; color: #000"><b>ALL EMPLOYERS </b></h3>
                <div class="form-horizontal">
                    <div class="form-group">

                            {% for employer in employers %}

                                <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded" src="{{ employer.logo.url }}" alt="" style="width: 80px; height: 80px;">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">{{ employer.company_name }}</h5>
                                            {{ employer.about_company }}<br>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ employer.place }}</span>
                                            <span class="text-truncate me-3"><i class="far fa-user text-primary me-2"></i>{{ employer.company_type }}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <!--<a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>-->
                                            <a class="btn btn-primary" href="{% url 'view-employers' %}?employer={{ employer.id }}">View</a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
{% endblock %}
