{% extends 'base/employer/base.html' %}

{% load static %}

{% block body %}

    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-11" style=" border: thin double #00B074; border-radius: 20px; top: 60px; padding-top: 20px">
                <!--<center>
                    <img src="{{ employee.avatar_image.url }}" style="width: 100px; height: 100px; border-radius:500%;">
                    <br>
                </center>-->
                <h3 style="text-align: center; color: #000"><b>{{ employer.company_name }} </b></h3>
                <p class="row" style="color: #444; margin-left: 180px; margin-right: 150px;">
                    Name: {{ employer.company_name }}
                </p>
                <p class="row" style="color: #444; margin-left: 180px; margin-right: 150px;">
                    About: {{ employer.about_company }}
                </p>
                <p class="row" style="color: #444; margin-left: 180px; margin-right: 150px;">
                    Organization Category: {{ employer.company_type }}
                </p>
                <p class="row" style="color: #444; margin-left: 180px; margin-right: 150px;">
                    Mail ID: <a href="mailto:{{ employer.user.username.url }}" download>{{ employer.user.username }}</a>
                </p>
                <p class="row" style="color: #444; margin-left: 180px; margin-right: 150px;">
                    Address: {{ employer.place.place_name }},
                    {{ employer.place.district.district_name }},
                    {{ employer.place.district.state.state_name }},
                    {{ employer.place.district.state.country.country_name }}
                </p>
                {% if status != "0" %}
                    <p class="row" style="color: #444; margin-left: 180px; margin-right: 150px;">
                        <center>
                            <a href="{% url 'update-employer-status' %}?reject={{ employer.id }}" class="btn btn-primary" style="background:red;">Reject</a>
                            <a href="{% url 'update-employer-status' %}?accept={{ employer.id }}" class="btn btn-primary">Accept</a>
                        </center>
                    </p>
                {% endif %}




            </div>
        </div>
    </div>


    <div style="height: 200px;">

    </div>

{% endblock %}
