{% extends 'base/admin/base.html' %}

{% load static %}

{% block body %}
<form action="{% url 'register-country' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <script type="text/javascript" src="{% static 'scripts/jquery-3.3.1.min.js' %}"></script>
    <div class="container" style="width:65%; margin-left:14% ;box-sizing:border-box; margin-bottom:2%; padding:30px 40px 30px 120px; border: thin double #00B074; border-radius: 20px; margin-top:3%;">
        {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        <div class="row" style="margin-left: -173%;margin-top: 2%;margin-bottom: -5%;">

        </div>
        <h2 style="text-align: center;margin-top: 6%;font-family:'Times New Roman', Times, serif;">NEW COUNTRY</h2>

        <br>

        {{ form.as_p }}

        <br>

        <div class="row">
            <input type="submit" name="btnsubmit" value="Create" class="btn btn-primary" style="margin-left:63%; width: 200px;">
        </div>

        <br>
    </div>
</form>

{% endblock %}

