{% extends 'base/employer/base.html' %}

{% load static %}

{% block body %}

    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-11" style=" margin-left:4% ;box-sizing:border-box; margin-bottom:2%; padding:30px 40px 30px 120px; border: thin double #00B074; border-radius: 20px; margin-top:3%;">
                <h3 style="text-align: center; color: #000"><b>{{ jobs.job_title }} </b></h3>
                <p class="row" style="color: #444; margin-left: 100px; margin-right: 100px;">
                    {{ jobs.post_date }}
                </p>
                <p class="row" style="color: #444; margin-left: 100px; margin-right: 100px;">
                    {{ jobs.job_description }}
                </p>
                <p class="row" style="color: #444; margin-left: 100px; margin-right: 100px;">
                    Monthly Salary: {{ jobs.salary }}
                </p>
                <p class="row" style="color: #444; margin-left: 100px; margin-right: 100px;">
                    Preferred Course: {{ jobs.course_name }}
                </p>
                <p class="row" style="color: #444; margin-left: 100px; margin-right: 100px;">
                    Preferred Experience: {{ jobs.experience }}
                </p>
                <p class="row" style="color: #444; margin-left: 100px; margin-right: 100px;">
                    Available Vacancies: {{ jobs.vacancies }}
                </p>


                <div class="container" style="margin-left:30px; ">
                    <div class="row" >
                        <div class="col-md-11" style="border: thin double #00B074; border-radius: 20px;">
                            <br>
                            <h3 style="text-align: center; color: #000"><b>APPLICANTS </b></h3>
                            <div class="form-horizontal">
                                <div class="form-group">


                                    <table class="table table-hover" style=" border-radius: 10px; box-shadow: 3px 3px 11px #777777; margin-bottom:7%; margin-top:20px;">
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>DOB</th>
                                            <th>Contact</th>
                                            <th>Address</th>
                                            <th>Education</th>
                                            <th>Experience</th>
                                            <th>Vacancies</th>
                                        </tr>

                                    {% for applicant in applicants %}
                                        <tr onclick="window.location='{% url 'applicant-details' %}?applicant={{ applicant.id }}'">
                                            <td><img src="{{ applicant.employee.avatar_image.url }}" style="width:50px; border-radius:10px;"/> </td>
                                            <td>{{ applicant.employee.first_name }} {{ applicant.employee.last_name }}</td>
                                            <td>{{ applicant.employee.date_of_birth }}</td>
                                            <td>{{ applicant.employee.contact }}</td>
                                            <td>{{ applicant.employee.location.place_name }},
                                                {{ applicant.employee.location.district.district_name }},
                                                {{ applicant.employee.location.district.state.state_name }},
                                                {{ applicant.employee.location.district.state.country.country_name }}</td>
                                            <td>{{ applicant.employee.course.course_name }}</td>
                                            <td>{{ applicant.employee.experience }}</td>
                                            <td>{{ applicant.job.vacancies }}</td>
                                        </tr>
                                    {% endfor %}

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div style="height: 200px;">

    </div>

{% endblock %}
