{% extends 'base/employer/base.html' %}

{% load static %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-11" style="box-shadow: 2px 2px 10px #444; border-radius: 15px; top: 60px; padding-top: 20px">
                <!--<center>
                    <img src="{{ employee.avatar_image.url }}" style="width: 100px; height: 100px; border-radius:500%;">
                    <br>
                </center>-->
                <h3 style="text-align: center; color: #000"><b>{{ employer.company_name }} </b></h3>
                <div class="col-sm-1">
                    <a href="{% url 'edit-employer-profile' %}" class="btn btn-primary" style="margin-left:63%;margin-bottom:20px; width:150px;">Edit Profile</a>
                </div>
                <p class="row" style="color: #444; margin-left: 180px; margin-right: 150px;">
                    Name: {{ employer.company_name }}
                </p>
                <p class="row" style="color: #444; margin-left: 180px; margin-right: 150px;">
                    About: {{ employer.about_company }}
                </p>
                <p class="row" style="color: #444; margin-left: 180px; margin-right: 150px;">
                    Organization Category: {{ employer.company_type }}
                </p>
                <p class="row" style="color: #444; margin-left: 180px; margin-right: 150px;">
                    Mail ID: <a href="mailto:{{ employer.user.username.url }}" download>{{ employer.user.username }}</a>
                </p>
                <p class="row" style="color: #444; margin-left: 180px; margin-right: 150px;">
                    Address: {{ employer.place.place_name }},
                    {{ employer.place.district.district_name }},
                    {{ employer.place.district.state.state_name }},
                    {{ employer.place.district.state.country.country_name }}
                </p>


                <!--<div class="container" style="margin-left:30px; ">
                    <div class="row" >
                        <div class="col-md-11" style="box-shadow: 2px 2px 10px #444; border-radius: 15px; top: 60px; padding-top: 20px; background: #fff;">
                            <h3 style="text-align: center; color: #000"><b>UPDATE APPLICATION STATUS </b></h3>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <form action="{% url 'applicant-details' %}" method="post">
                                        {% csrf_token %}
                                        <br>
                                        <input type="hidden" name="application_id" value="{{ applicant.id }}">
                                        <select name="status" id="id_status" class="form-control">

                                            {% if applicant.status == "submitted" %}

                                                <option value="submitted" selected>Submitted</option>
                                                <option value="reviewed">Reviewed</option>
                                                <option value="resume_shortlisted">Resume Shortlisted</option>
                                                <option value="assessment">Selected for Assessment</option>
                                                <option value="selected">Selected</option>

                                            {% elif applicant.status == "reviewed" %}
                                                <option value="submitted" >Submitted</option>
                                                <option value="reviewed" selected>Reviewed</option>
                                                <option value="resume_shortlisted" >Resume Shortlisted</option>
                                                <option value="assessment">Selected for Assessment</option>
                                                <option value="selected">Selected</option>

                                            {% elif applicant.status == "resume_shortlisted" %}
                                                <option value="submitted" >Submitted</option>
                                                <option value="reviewed" >Reviewed</option>
                                                <option value="resume_shortlisted" selected>Resume Shortlisted</option>
                                                <option value="assessment">Selected for Assessment</option>
                                                <option value="selected">Selected</option>

                                            {% elif applicant.status == "assessment" %}
                                                <option value="submitted" >Submitted</option>
                                                <option value="reviewed" >Reviewed</option>
                                                <option value="resume_shortlisted">Resume Shortlisted</option>
                                                <option value="assessment" selected>Selected for Assessment</option>
                                                <option value="selected">Selected</option>

                                            {% elif applicant.status == "selected" %}
                                                <option value="submitted" >Submitted</option>
                                                <option value="reviewed" >Reviewed</option>
                                                <option value="resume_shortlisted">Resume Shortlisted</option>
                                                <option value="assessment" >Selected for Assessment</option>
                                                <option value="selected" selected>Selected</option>

                                            {% endif %}

                                        </select>

                                        <center>
                                            <br>
                                            <input type="submit" value="Save" class="btn btn-primary">
                                        </center>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->


            </div>
        </div>
    </div>


    <div style="height: 200px;">

    </div>

{% endblock %}
